  #page2{
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: #faf9ff;
  }

  #bgPattern{
    opacity: 0.06;
    width: 100vw;
    height: 100vh;
    background-color: #faf9ff;
    background-size: 0.8vw;
    background-image: url("/Users/gabriel/Desktop/landing_page_wiwork/landing_page/Resources/24pxWavy.png");
    background-repeat: repeat;
  }

  #container{
      position: absolute;
      width: 45vw;
      height: 85vh;
      background-color: white;
      border: 1px solid black;
      bottom: 4vh;
      left: 15vw;
      border-radius: 3vw;
      box-shadow: 0px 1px 10px 5px #191919;
  }
  .containerContent{
      padding: 0.5em;
      padding-left: 1.5em;
      color: black;
      font-size: 2.25vw;
      font-weight: 900;
  }