  #page1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(189,165,255);
    background: linear-gradient(42deg, rgba(189,165,255,1) 0%, rgba(243,239,255,1) 100%);
  }
  
  #bgpic{
    opacity: 0.3;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: .2s ease-in-out;
    filter: blur(0.30vw);
    /*transform: scale(1.1);*/
  }
  
  .wavy{
    width: 80vw;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
  }
  #rightText{
    position: absolute;
    right: 4vw;
    text-align: right;
    bottom: 10%;
    z-index: 1;
    text-shadow: 0px 1px 5px #cccccc;
  }
  #centeredText{
    position: absolute; 
    left: 50%;
    bottom: 50%;
    text-align: center;
    transform:translate(-50%, -0%);
    text-shadow: 0px 1px 5px #696868;
  }
  p{color: white;}
  a{color: white;}