/*
  font-family: 'Work Sans', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Pacifico', cursive; Logo
*/
*{  user-select: none;}
body{
    margin: 0;
    width: 100vw;
    background: white;
    font-family: 'Noto Sans', sans-serif;
  }

  .size1{
    font-size: 2.25vw;
    font-weight: 900;
  }

  .size2{
    margin-top: -1em;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75vw;
  }
  
  .size3{
    font-family: 'Work Sans', sans-serif;
    font-size: 1vw;
    font-weight: 300;
  }